@import "../../styles/variables.less";

.controls {
    display: flex;
    gap: 15px;
    opacity: 1 !important;
}

.mantine-Button-root {
    width: 115px;
    font-size: 16px;
    padding-left: 5px;
    padding-right: 5px;
    height: 40px;
}

.chart-container {
    position: relative;
    margin-top: 20px;
    height: 640px;
    width: 100%;
}

.pickers {
    margin-left: -10px;
    display: flex;
}

.text-between-pickers {
    font-size: 18px; 
    margin-left: 5px;
    margin-right: -5px;
    margin-top: 10px;
}

.range-target-button {
}