@import "../../styles/variables.less";

.ticker-dropdown {
    max-width: 150px !important;
    color: white !important;
    background-color: @bg3 !important;

    .default.text {
        color: white !important;
    }

    .search {
        color: white !important;
    }

    .item {
        background-color: @bg2 !important;
        color: white !important;
        border: none !important;
    }

    .item:hover {
        background-color: @bg4 !important;
        border: none !important;
    }
}